<body>
  <div class="flex min-h-screen">
    <!-- Sidebar -->
    <aside class="w-64 bg-gray-800 text-white flex flex-col justify-between">
      <div class="p-6">
        <h2 class="text-3xl font-semibold text-center mb-8">Mon Etab</h2>
        <nav>
          <ul>
            <li class="mb-4">
              <a href="/" class="hover:text-gray-400">Tableau de bord</a>
            </li>
            <li class="mb-4">
              <a
                href="/students/index"
                class="text-blue-400 hover:text-blue-500 font-medium"
                >Élèves</a
              >
            </li>
            <li class="mb-4">
              <a href="/teachers/index" class="hover:text-gray-400">Professeurs</a>
            </li>
            <li class="mb-4">
              <a href="/users/index" class="hover:text-gray-400">Utilisateurs</a>
            </li>
            <li class="mb-4">
              <a href="#" class="hover:text-gray-400">Rapport</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="p-6">
        <a
          href="#"
          class="text-gray-400 hover:text-white flex items-center justify-center"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5 mr-2"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M7 10V4a3 3 0 016 0v6a3 3 0 11-6 0z"
              clip-rule="evenodd"
            />
            <path
              fill-rule="evenodd"
              d="M5 9a2 2 0 100-4 2 2 0 000 4zm10-2a2 2 0 110 4 2 2 0 010-4zm-2 8v2a3 3 0 01-6 0v-2a2 2 0 11-4 0v2a5 5 0 0010 0v-2a2 2 0 11-4 0z"
              clip-rule="evenodd"
            />
          </svg>
          Déconnexion
        </a>
      </div>
    </aside>

    <!-- Main Content -->
    <div class="flex-1 p-6">
      <a
      href="users/index"
      class="text-gray-500 hover:text-gray-700 flex items-center mb-6"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-5 w-5 mr-2"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M15 19l-7-7 7-7"
        />
      </svg>
      Retour
    </a>
      <div class="max-w-4xl mx-auto bg-white p-8 rounded-lg shadow-lg">
        <h1 class="text-2xl font-semibold mb-6 text-center">
          Modifier l'utilisateur - 45678
        </h1>
        <form [formGroup]="formEditUser" action="#" method="POST" class="grid grid-cols-2 gap-6">
          <!-- Champ Nom -->
          <div>

            <input
              type="text"
              id="pseudo"
              name="pseudo"
              formControlName="pseudo"
              placeholder=""
              value="admin"
              class="mt-1 p-2 block w-full border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
            />
          </div>
          <!-- Champ mot_de_passe -->
          <div>

            <input
              type="text"
              id="anc_mot_de_passe"
              name="anc_mot_de_passe"
              formControlName="anc_mot_de_passe"
              placeholder="ancien mot de passe"
              value="ancien mot de passe"
              class="mt-1 p-2 block w-full border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
            />
          </div>
          <!-- Champ confirmation mot de passe -->
          <div>

            <input
              type="text"
              id="mot_de_passe"
              name="mot_de_passe"
              placeholder="Nouveau mot de passe"
              formControlName="mot_de_passe"
              value="Nouveau mot de passe"
              class="mt-1 p-2 block w-full border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
            />
          </div>
          <div>

            <input
              type="text"
              id="conf_mot_de_passe"
              name="conf_mot_de_passe"
              placeholder="nouveau mot de passe"
              formControlName="conf_mot_de_passe"
              value="Confirmer nouveau mot de passe"
              class="mt-1 p-2 block w-full border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
            />
          </div>
          <!-- Boutons -->
          <div class="col-span-2 flex justify-center space-x-4">
            <button
              type="reset"
              class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded"
            >
              Annuler
            </button>
            <button
              type="submit"
              class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded"
            >
              Enregistrer
            </button>
          </div>




        </form>
      </div>
    </div>
  </div>
</body>
